/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ============================== background ============================== */

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #003f2e;
  overflow: hidden;
  z-index: -1;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 25;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #018667;
  top: 80%;
  left: 15%;
  animation-duration: 46s;
  animation-delay: -235s;
  transform-origin: -18vw -14vh;
  box-shadow: 40vmin 0 5.714332773065072vmin currentColor;
}
.background span:nth-child(1) {
  color: #d5ad56;
  top: 13%;
  left: 17%;
  animation-duration: 129s;
  animation-delay: -173s;
  transform-origin: 16vw -14vh;
  box-shadow: 40vmin 0 5.178484056885872vmin currentColor;
}
.background span:nth-child(2) {
  color: #f8e19e;
  top: 38%;
  left: 98%;
  animation-duration: 232s;
  animation-delay: -27s;
  transform-origin: 7vw 0vh;
  box-shadow: -40vmin 0 5.485355334472859vmin currentColor;
}
.background span:nth-child(3) {
  color: #f8e19e;
  top: 30%;
  left: 12%;
  animation-duration: 40s;
  animation-delay: -211s;
  transform-origin: 8vw -17vh;
  box-shadow: -40vmin 0 5.888108896853224vmin currentColor;
}
.background span:nth-child(4) {
  color: #ff3213;
  top: 77%;
  left: 62%;
  animation-duration: 41s;
  animation-delay: -204s;
  transform-origin: -3vw -20vh;
  box-shadow: 40vmin 0 5.041394649650793vmin currentColor;
}
.background span:nth-child(5) {
  color: #ff3213;
  top: 21%;
  left: 16%;
  animation-duration: 207s;
  animation-delay: -2s;
  transform-origin: 18vw 16vh;
  box-shadow: 40vmin 0 5.74523076025474vmin currentColor;
}
.background span:nth-child(6) {
  color: #018667;
  top: 5%;
  left: 87%;
  animation-duration: 65s;
  animation-delay: -77s;
  transform-origin: 9vw -16vh;
  box-shadow: -40vmin 0 5.400235281565738vmin currentColor;
}
.background span:nth-child(7) {
  color: #d5ad56;
  top: 19%;
  left: 48%;
  animation-duration: 206s;
  animation-delay: -196s;
  transform-origin: -13vw 2vh;
  box-shadow: 40vmin 0 5.457095835111574vmin currentColor;
}
.background span:nth-child(8) {
  color: #d5ad56;
  top: 41%;
  left: 70%;
  animation-duration: 36s;
  animation-delay: -226s;
  transform-origin: 24vw -22vh;
  box-shadow: -40vmin 0 5.467213934985667vmin currentColor;
}
.background span:nth-child(9) {
  color: #018667;
  top: 79%;
  left: 49%;
  animation-duration: 36s;
  animation-delay: -233s;
  transform-origin: -14vw 7vh;
  box-shadow: 40vmin 0 5.130962316971263vmin currentColor;
}
.background span:nth-child(10) {
  color: #d5ad56;
  top: 14%;
  left: 41%;
  animation-duration: 214s;
  animation-delay: -89s;
  transform-origin: -14vw 1vh;
  box-shadow: -40vmin 0 5.293692823838304vmin currentColor;
}
.background span:nth-child(11) {
  color: #d5ad56;
  top: 82%;
  left: 55%;
  animation-duration: 112s;
  animation-delay: -164s;
  transform-origin: 20vw 0vh;
  box-shadow: -40vmin 0 5.750760358122994vmin currentColor;
}
.background span:nth-child(12) {
  color: #ffca58;
  top: 81%;
  left: 42%;
  animation-duration: 8s;
  animation-delay: -148s;
  transform-origin: -12vw -10vh;
  box-shadow: 40vmin 0 5.80354723070603vmin currentColor;
}
.background span:nth-child(13) {
  color: #f8e19e;
  top: 98%;
  left: 37%;
  animation-duration: 91s;
  animation-delay: -227s;
  transform-origin: 17vw -3vh;
  box-shadow: -40vmin 0 5.81204836847622vmin currentColor;
}
.background span:nth-child(14) {
  color: #ffca58;
  top: 58%;
  left: 9%;
  animation-duration: 155s;
  animation-delay: -117s;
  transform-origin: 17vw -2vh;
  box-shadow: 40vmin 0 5.290209879111044vmin currentColor;
}
.background span:nth-child(15) {
  color: #ff3213;
  top: 94%;
  left: 80%;
  animation-duration: 121s;
  animation-delay: -170s;
  transform-origin: 19vw 3vh;
  box-shadow: 40vmin 0 5.260962624691546vmin currentColor;
}
.background span:nth-child(16) {
  color: #ff3213;
  top: 25%;
  left: 82%;
  animation-duration: 223s;
  animation-delay: -2s;
  transform-origin: -15vw 18vh;
  box-shadow: 40vmin 0 5.634689249473224vmin currentColor;
}
.background span:nth-child(17) {
  color: #ffca58;
  top: 71%;
  left: 61%;
  animation-duration: 53s;
  animation-delay: -33s;
  transform-origin: -20vw -12vh;
  box-shadow: 40vmin 0 5.039874115429684vmin currentColor;
}
.background span:nth-child(18) {
  color: #018667;
  top: 51%;
  left: 30%;
  animation-duration: 103s;
  animation-delay: -189s;
  transform-origin: -6vw 6vh;
  box-shadow: -40vmin 0 5.307051127297349vmin currentColor;
}
.background span:nth-child(19) {
  color: #d5ad56;
  top: 67%;
  left: 55%;
  animation-duration: 212s;
  animation-delay: -128s;
  transform-origin: 1vw -12vh;
  box-shadow: -40vmin 0 5.025114389163033vmin currentColor;
}
.background span:nth-child(20) {
  color: #d5ad56;
  top: 48%;
  left: 18%;
  animation-duration: 126s;
  animation-delay: -51s;
  transform-origin: -20vw 9vh;
  box-shadow: 40vmin 0 5.335499515943785vmin currentColor;
}
.background span:nth-child(21) {
  color: #d5ad56;
  top: 26%;
  left: 4%;
  animation-duration: 167s;
  animation-delay: -58s;
  transform-origin: 14vw -19vh;
  box-shadow: -40vmin 0 5.073232747204857vmin currentColor;
}
.background span:nth-child(22) {
  color: #d5ad56;
  top: 84%;
  left: 88%;
  animation-duration: 200s;
  animation-delay: -124s;
  transform-origin: -8vw 19vh;
  box-shadow: -40vmin 0 5.288838980827317vmin currentColor;
}
.background span:nth-child(23) {
  color: #ffca58;
  top: 41%;
  left: 86%;
  animation-duration: 201s;
  animation-delay: -171s;
  transform-origin: 19vw 11vh;
  box-shadow: -40vmin 0 5.999323685400787vmin currentColor;
}


/* ============================== fonts ============================== */

p, h1, h2, h5 {
  color: white;
  /* font: "Courier New", Courier, monospace; */
}


/* ============================== greeting ============================== */

.center {
  text-align: center;
}

#greeting {
  margin-top: 25vh !important;
}

#time {
  font-size: 120px;
  padding: 0px !important;
  height: 120px;
  margin-top: 20vh !important;
}

#date {
  margin-bottom: 0px !important;
}

.quote{
  text-align: left;
}


/* ============================== search bar ============================== */

input {
  border: none;
  border-bottom: 2px solid #fff;
  min-width: 70vw;
  max-width: 70vw;
  width: 75%;
  padding-bottom: 10px;
  background-color: transparent;
  color: white !important;
  outline: 0;
  margin-top: 30px !important;
  margin-bottom: 20px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 11; /* Firefox */
}


/* ============================== bookmarks ============================== */

.bookmarks {
  margin-top: 50px;
}

.fab, .far, .fas {
  color: white;
}

.fab:hover, .far:hover, .fas:hover {
  opacity: .9;
  transform: scale(1.3)
}


/* ============================== quote ============================== */

.quotes {
  margin-top: 100px;
  color: white;
}

blockquote {
  border-left: solid 0.2em white;
  padding: 1em 0 1em 2em;
  font-style: italic;
}

/* div.author {
  float: right;
} */


/* ============================== mobile ============================== */

@media screen and (max-width: 700px) {

  #greeting {
    margin-top: 15vh !important;
  }

  #time {
    margin-top: 5vh !important;
  }

  input {
    display: none;
  }

  .bookmarks {
    display: none;
  }
}